html {
    font-family: arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 80%;
}   

tbody:nth-child(even) {
    background-color: #e2f2f5;
}


th, td {
    border: 1px solid #ccc;
    padding: 0.25em;
    text-align: start;
}

tfoot td{
    text-align: center;
    font-style: italic;
    font-size: 0.75em;
}